/* ctrl shift r refrish  */

body{
    padding: 0px;
    margin: 0px;    
    direction: rtl;
}

.hid {
    width: 100%;
    height: 60px;
    display: flex;
    background-color: rgb(40, 37, 37);
    padding: 0px;
    margin:0px ;
    border: 0px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.hid .hid-1 {
    display: flex;
    width: 75%;
    color: white;
   
}


.hid-1 .t-butchry {
    width:  18%;
    text-align: center;
    line-height: 40px;
    font-family:'Segoe UI';
    line-height: 50px;
    font-size: 20px ;
    font-weight: bold;
    font-family:cairo;
 
 }
 .hid-1 .t-butchry a {
    text-decoration: none;
    font-size: 20px ;
    font-weight: bold;
    font-family:cairo;
    color: white;
 }
 .hid-1 .s-input  {
    color: rgb(198, 27, 27);
    width: 80%;
    /* display: flex; */
    padding: 0;
    margin: 0;
    border: 0;
    margin-left: 7px;
    position: relative;
}




#sugguser {
    position: absolute;
    top: 55px; /* عدلها حسب مكان الانبوت */
    width: 100%;
    background:rgb(194, 210, 210);
    border: 1px solid #ddd;
    border-top: none;
    max-height: 200px;       /* أقصى ارتفاع */
    overflow-y: auto;        /* سكرول */
    z-index: 9999;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 999;
    display: none;
}


/* كل عنصر */
 #sugguser .sugg-list div {
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
    color: black;
    
}

/* عند المرور بالماوس */
 #sugguser .sugg-list div:hover {
    background-color: #c8cde3;
}


 .s-input .form1 .form-control1 {
    width: 98%;
    height: 48px;
    margin-top: 5px;
    border-radius: 6px 0px 0px 6px;
    padding-left: 0px;
    outline: none;
    border: none;
    padding-right: 10px;
    font-size: 20px;
}
.s-input input {
      width: 98%;
    height: 50px;
    margin-top: 5px;
    border-radius: 6px 0px 0px 6px;
    padding-left: 0px;
    outline: none;
    border: none;
    padding-right: 10px;
    font-size: 20px;

}

.s-input input::-webkit-search-cancel-button {
    display: none;

}


.s-button {
    position: relative;
    width: 10%;
    font-size: 25px;
    height: 50px;
    color:black;
    border-radius: 0px 6px 6px 0px;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    outline: none;
    right:  2px;
    border: 0;
    background-color: white;
}

.hid .hid-2   {
    width: 37%;
    height: 60px;
    color: white;
    display: flex;
    gap: 10px;
    float: left;
    font-size: 20px;
    align-items: center;
    text-align: center;
    
    }
    .hid .hid-3 {
        width: 13%;
        height: 60px;
        color: white;
        display: flex;
        justify-content: center;
        font-size: 20px;
        

    }


.hid .hid-2 a {

    text-decoration: none;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    height: 60px;
    /* line-height: 55px; */
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: cairo;
    
}
.hid .hid-3 a {
    text-decoration: none;
    font-size: 15px;
    padding-left: 4px;
    padding-right: 4px;
    color: white;
    height: 60px;
    line-height: 55px;
    display: block;
    float: right;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}

.hid .hid-3 .shop {
    display: flex;
    font-weight: bold;
    justify-content :center ;
    align-items: center;
    height: 23px;
    left: 10px;
    top: 5px;
    width: 22px;
    border-radius: 50%;
    background-color: white;
    color: black;
    position: relative;
    font-size: 10px;

}


.main {
    /* width: 1200px; */
    width: 95%;
    height: 500px;
    background-color: aquamarine;
    overflow: hidden;
}
.main .slid {
    display: flex;
    /* width: 2400px; */
    width: 400%;
    height: 500px;
    transition: transform 0.5s ease ;
}
.test {
    width: 100%;
    height: 500px;
    justify-content: center;
    display: flex;
}
.main button {
    position:absolute;
    top :320px;
    right: 500px;
    width: 30px;
   
    
}



.main .slid .div1 {
    /* width: 1200px; */
    width: 25%;
    height: 500px;
    background-color: rgb(205, 28, 93);
    align-items: center;

}
.main .slid .div3 {
    /* width: 1200px; */
    width: 25%;
    height: 500px;
    background-color: rgb(105, 96, 99);
    align-items: center;

}
.main .slid .div4 {
    /* width: 1200px; */
    width: 25%;
    height: 500px;
    background-color: rgb(28, 205, 40);
    align-items: center;

}
.main .slid .div2 {
    
    /* width: 1200px; */
    width: 25%;
    height: 500px;
    background-color: rgb(73, 26, 245);
   
}

.space {
    width: 100%;
    height: 2px;
}
.test .sc {
    width: 170px;
    height: 170px;
    position: absolute;
    border-radius: 50%;
    z-index: 1000px;
    background-color: black;
    bottom: 55px;
}
.nout {
    width: 100%;
    height: 90px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.nout .onne {
    width: 18%;
    height: 60px;
}
.nout .tow {
    margin-right: 82px;
    width: 82%;
    height: 60px;
    font-family:cairo;
    font-size: 40px;
    font-weight: bold;
    /* font-family: 'sky-bold'; */
    text-align: right;


}
.nout .three {
    display: none;
    width: 100%;
    height: 100%;
    font-family: cairo;
    font-size: 30px;
    font-weight: bold;

}
.buut {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.but {
    width: 70%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    border-bottom:1px solid rgb(30, 28, 26) ;
}
.but .but1 {
    width: 80px;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cairo;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 3px solid black;
    margin-bottom: 1px;
    
    }
    p{
        font-family: cairo;
    }

.but .but1 a {
    text-decoration: none;
    color: black;}
.but .but2 {
    width: 80px;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cairo;
    font-weight: bold;
    font-size: 15px;

}

.but .but2:hover {
    background-color: rgb(242, 238, 234);
}
.but .but1:hover {
    background-color: lab(96.36% 0.65 1.3);
}
.bro {
    width: 95%;
    height: 600px;

}
.clos {
    width: 100%;
    background-color: black;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap : 4px ;
    border-bottom: 0.5px solid beige;
   

}

.last .last-a-2 {
    border-top: 3px solid black;

}

.clos .im .bo {
    width: 100px;
    height: 100px;
  
  
}
.clos .clos-1 {
  
    column-gap: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: cairo;
    font-weight: bold;
}

.clos .clos-2 {
    column-gap: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: cairo;
    font-weight: bold;
    height: 30px;
   
}
.clos .clos-2 a i {
    width: 10px;
    height: 10px;
    font-size: 25px;
}
.clos .clos-3 a i {
      width: 10px;
    height: 10px;
    font-size: 25px;
}

.clos .clos-3 {
    height: 30px;
    column-gap: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: cairo;
    font-weight: bold;
}

.clos a {
    text-decoration: none ;
    color: white;
    font-family: cairo;
    font-weight: bold;
    font-size: 15px;

}
.clos-3 a {
    font-size: 37px;
}
.clos-2 a {
    font-size: 35px;
}

.last {
    width: 100%;
    height: 60px;
    display: none;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    background-color: rgb(249, 249, 245);


}
.last .last-a-1 {
    border-top: 3px solid black;
}
.last a {
    width: 20%;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
    font-size: 20px;
}

.clos a:hover {
    color: bisque;
}
.ccc {
    width: 100%;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.saham {
    width: 10%;
    height: 60px;
    margin-top: 9px;
    border-radius: 0 10px 10px 0px;
    color:black;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: cairo;
    font-weight: bold;
    font-size: 30px;
    background-color: rgb(229, 236, 236);
}
.saham .sahamm {
    width: 60px;
    border-radius: 100%;
    height: 60px;
    color:black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sahamm:hover {
    background-color:rgb(194, 210, 210);
}
.saham a {
    text-decoration: none;
    color: black;
}
.eeee {
    margin-top: 9px;
    border-radius:  10px 0 0 10px ;
    width: 80%;
    height: 60px;  
    color:black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cairo;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(229, 236, 236);
}
.mmmj {
    width: 100%;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 5px;

}
.mmm {
    width: 90%;
    height: 60px;
    color:black;
    text-align: center;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    font-family: cairo;
    margin-top: 5px;
    border-bottom: 2px solid hsl(60, 4%, 95%);

}
.area ul li ul {
    display: none;

}

.mmm .mmm1 {

    width: 70px;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cairo;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 3px solid black;

}
.mmm .mmm1:hover {
    background-color: hsl(60, 4%, 95%);
}
.mmm .mmm2:hover {
    background-color: hsl(60, 4%, 95%);
}
.mmm .mmm2 {
    width: 70px;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: cairo;
}
.mmm .mmm4 {
    width: 70px;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: cairo;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 3px solid black;

}
.mmm .mmm4:hover {
    background-color: hsl(60, 4%, 95%);
}
.mmm .mmm3:hover {
    background-color: hsl(60, 4%, 95%);
}
.mmm .mmm3 {
    width: 70px;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: cairo;
}
.mmm .mmm3 a {
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;

    align-items: center;
    font-family: cairo;
    color: black;
    font-size: 20px;}



    .mmm .mmm2 a {
        text-decoration: none;
        text-align: center;
        display: flex;
        align-items: center;
        font-family: cairo;
        color: black;
        font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.contanar .areaandtime a:hover {
    background-color:rgb(239, 242, 246);   

}
.contanar {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
}
.areaandtime {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 116px;
  
}
 .aria {
    display:flex ;
    width: 100%;
    height: 70px;
    border-bottom:2px solid rgb(227, 210, 210);
    /* margin-top: 12px; */
    align-items: center;
    
   

}
.aria .rols-aria , .rols-time {
    font-family: cairo;
    color: rgb(176, 180, 185);
}
.areaandtime .aria  .name-aria , .name-time {
    font-family: cairo;
        color: black;


}

.aria .display-area {
    /* display: flex; */
    width: 20%;
        text-align: right;
    
}


.aria .end-earia {
    width: 80%;
text-align: left;
}

.aria  .end-earia i {
 font-size: 20px;
}


.date-time {
    display:flex ;
    width: 100%;
    height: 70px;
        text-align: right;
        border-bottom: 2px solid rgb(223, 218, 218) ;
        align-items: center;

}

.date-time .time {
    display: block;
    width: 20%;
    
}
.date-time .end-time {
 width: 80%;
text-align: left;
    
}
.date-time .end-time i {
 font-size: 20px;
}

@media (max-width : 1000px) {
    .last {
        display: flex;
    }
    .clos {
        height: 550px;;
    }
}
@media (max-width : 979px) {
    .hid .hid-2   {
        display: none;
    }
    .hid .hid-1 {
        width: 80%;
    }
    .hid .hid-3 {
        width: 20%;
    }
    .hid-1 .t-butchry  {
        display: none;
    }
}

@media(max-width :650px) {
    .test .main .sc {
        display: none;
    }
    .nout .tow {
        display: none;
    }
    .nout .onne {
        display: none;
    }
    .nout .three {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: black;
        background-color: rgb(249, 249, 245);
        font-size: 20px;
    }
}
@media (max-width :  516px) {
    .hid .hid-1    {
        width: 70%;
    }
    .hid .hid-3 {
        width: 30%;
    }
    
}
@media (max-width : 750px ) {

.clos {
    display: none;
}

}

@media (max-width : 345px) {
    .hid .hid-1 {
        width: 50%;
    }
    .hid .hid-3 {
        width: 50%;
    }

}
@media (max-width : 425px) {
.s-button {
    display: none;}
    .s-input .form1 .form-control1 {
        border-radius: 6px 6px 6px 6px;
    }
}
    



.hid .hid-2 a:hover  {
    color: #e6dada;
}
.hid .hid-3 .e:hover {
    color: #e6dada;
}


        